# Dependencies
node_modules/

# Environment variables
.env

# Firebase service account key
firebase-service-account.json

# Uploaded files
uploads/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

package-lock.json
logo.png
README.md
firebase-config.js

public/